

/*reset*/

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black;
}

/*header*/
header{
    
    height: 100px;
    background: black;
    padding: 0 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 10px white;
    
}
.logo{
    text-transform: uppercase;
    color:#FFC300;
    text-shadow: 0 0 10px #FFC300;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 200;
    letter-spacing: 3px;
    filter: drop-shadow(0 0 10px #FFC300);
    margin: auto;
    animation: texto 2s 2s infinite running ;
    
}

@keyframes texto{
    0% {
        font-family: 'Courier New', Courier, monospace;
    }

    50%{
        font-family: Arial, Helvetica, sans-serif;
        
    }

    100%{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.logo-png{
    filter: invert(100%);
    width: 130px;

}

.menu a{
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    text-decoration: none;
    padding: 15px 0px;
    margin-right: 20px;
    transition: ease-in 0.5s;
    animation: expandLine 2s ease-in-out infinite alternate;
    position: relative;
    /*transicion*/
}

.menu a::before{
    content: "";
    position: absolute;
    border-bottom: 2px solid #FFC300;
    bottom: -3px;
    width: 90%;
    left: 0;
    transition: 0.2s;
    opacity: 0;
    

}

.menu a::after{
    content: "";
    position: absolute;
    border-bottom: 2px solid #FFC300;
    bottom: 2px;
    width: 60%;
    right: 0;
    opacity: 0;
    transition: 0.2s;

}

.menu a:hover::before{
    opacity: 1;
    width: 30%;
}

.menu a:hover::after{
    opacity: 1;
    width: 90%;
    
}


.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s; 
    opacity: 1;
    border: 0;

}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #FFC300;
    

}

#check{
    display: none;
}

@media (max-width: 661px){
    .menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
        opacity: 0 !important;
        border-bottom: 0;
    }
}

/*banner*/
#banner{
    
        background-image: url(../imagenes/billar.jpg); /* ruta actualizada si el CSS está en carpeta css/ */
        background-size: cover;
        height: 60vh;
}

#banner::before{
    content: '';
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: auto;
    height: 60vh;
    left: 0;
}



.contenido-banner{
    position: relative;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;

}

.contenido-banner h3{
    width: 1519px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 30px;
    font-weight: 400; 
    padding: 20px 0;
    line-height: 1.7;
    font-family: cursive;
    

}



.contenido-banner h3 span{
    font-weight: 600;
    font-size: 3em;
    color: #FFC300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    transition: 0.6s;
    animation: letra 3s 1s 1 forwards ;
    
}

@keyframes letra{
    0%{
        padding-left: 0;
    }

    100%{
        padding-left: 370px;
        filter: drop-shadow(0 5px 4px rgb(116, 116, 13));
       
        
    }
}


.boton-empezar{
    margin: 30px 50px;
    text-decoration: none;
    color: white;
    border: 2px solid #FFC300;
    padding: 20px 40px ;
    width: 100px;
    transition: all 0.2s;
    border-radius:50px ;
}

.boton-empezar:hover{
    
    box-shadow: 10px 10px 8px #FFC300;
    top: -7px;
    height: -7px;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFC300;
    
    
}

/*pesonas*/
#personas{
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    
}

#personas .whatsapp{
    position: relative;
    
}


#personas .whatsapp img{
    position: fixed;
    width: 90px;
    height: 90px;
    justify-content: center;
    margin-left: -46px;
    

}


#personas .whatsapp img:hover{
    transform: scale(1.1);

}

.cont-cartas{
    width: 100%;
    height: 550px;
    gap: 140px;
    display: flex;
    justify-content: center;


}

.cont-cartas .carta1{
    width: 450px;
    height: 500px;
    background: transparent;
    border: 4px solid yellow;
    border-radius: 20px 70px;
    animation: cuadros 3s 0.8s infinite normal running;

}

.cont-cartas .carta1:hover{
    backdrop-filter: blur(10px);

}

.cont-cartas .carta2{
    width: 450px;
    height: 500px;
    border: 4px solid yellow;
    background: transparent;
    animation: cuadros 3s 0.8s infinite normal running;
}


@keyframes cuadros{
    0%{
        filter: drop-shadow(-5px -4px 18px #FFC300);
        border-radius: 10px 70px;
    }

    25%{
        filter: drop-shadow(5px -4px 18px orange);
        border-radius: 70px 10px;
    }

    50%{
        filter: drop-shadow(-5px -4px 18px #cf4c18);
        border-radius: 10px 70px;
    }

    75%{
        filter: drop-shadow(5px -4px 18px #ff2f00);
        border-radius: 70px 10px;
    }

    100%{
        filter: drop-shadow(-5px -4px 18px #f1f10b);
        border-radius: 10px 70px;
    }
}



#personas img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    transition: 0.4s ease-in;
    animation: sombras 3s 0.8s infinite normal running;
}

@keyframes sombras{
    0%{
        filter: drop-shadow(-5px -4px 12px #FFC300);
    }

    25%{
        filter: drop-shadow(5px -4px 12px orange);
    }

    50%{
        filter: drop-shadow(-5px -4px 12px #cf4c18);
    }

    75%{
        filter: drop-shadow(5px -4px 12px #ff2f00);
    }

    100%{
        filter: drop-shadow(-5px -4px 12px #f1f10b);
    }
}





#personas div{
    padding:  30px 30px;
}

#personas div h4{
    color: transparent;
    -webkit-text-stroke: 0.5px white;
    font-size: 40px;
    margin: 15px 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    transition: 0.4s;
} 

#personas div h4:hover{
    color: #FFC300;
    transition: 0.4s;
    -webkit-text-stroke: 2px black;
    font-size: 40px;
    margin: 15px 0px;

} 

#personas div p{
    color: gray;
    font-size: 18px;
    position: relative;
}

.boton-saber-mas{
    display: inline-block;
    text-decoration: none;
    color: #FFC300;
    padding: 10px 30px;
    border: 3px solid black;
    border-radius: 30px;
    margin-top: 35px;
    transition: all 0.4s;
}

.boton-saber-mas:hover{
    background: black ;
    box-shadow: 10px 10px 8px #FFC300;
    top: -7px;
    height: -7px;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFC300;
    
}


/*iconos*/

#iconos{
    box-shadow: 0 -2px 10px white;
    padding: 0px 50px;
    background: rgba(0, 0, 0, 0.996);
    color: #FFC300;
}


#contenido-iconos{
    padding: 50px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

#contenido-iconos div{
flex: 1;
margin: 20px 0px;
border-right: 2px solid rgba(255, 255, 255, 0.2);

}

#contenido-iconos h4{
    color: white;
    font-size: 18px;
    font-weight: 100;
    margin: 10px 0px;

}

#contenido-iconos p{

    color: white;
    font-size: 15px;
    font-weight: 100;
    margin: 10px 0px;
}

.boton-iconos{
    text-align: center;
    padding-bottom: 50px;
}

.boton-iconos .boton{
    color: #FFC300;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px 22px;
    animation: lineas 1s 1s infinite alternate-reverse;
}

.boton-iconos .boton:hover{
    padding: 10px 40px;
    transition: 0.3s;

}


@keyframes lineas{
    0%{
        border-radius: 15px 80px;
        border-top: 2px solid red;
        border-bottom: 2px solid #FFC300;
        border-left: 2px solid red;
        border-right: 2px solid #FFC300;
        background: linear-gradient(black);
        
    }

    50%{
        border-radius: 55px 20px;
        background: linear-gradient(black);
        border-left: 2px solid red;
        border-right: 2px solid #FFC300;
    }

    100%{
        background: linear-gradient( black);
        border-top: 2px solid #FFC300;
        border-bottom: 2px solid red;
        border-left: 2px solid #FFC300;
        border-right: 2px solid red;
        
    }

    
}



/*iconos*/


/*responsive*/

@media(max-width: 770px){
    /*header*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index:100 ;
        transition: 0.8s;

    }

    .menu a{
        display: block;
        padding: 20px;

    }

    .menu a::before,
    .menu a::after,
    .mostrar-menu,
    .esconder-menu{
        border-bottom: none;
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right:40px ;
    }

    #check:checked ~ .menu{
        right: 0;
    }

    #banner{
        width: auto;
        height: auto;
    }

    #banner::before{
        width: auto;
        height: auto;
        left: 0;
    }

    .contenido-banner{
        position: relative;
        width: auto;
        justify-content: center;
    }

    .contenido-banner h3{
        width: auto;
        animation-direction: none;
        font-size: 16px;
        padding: 0;
    }

    .contenido-banner h3 span{
        animation: letra 3s 1s forwards;
    }

    @keyframes letra{
        0%{
            padding-left: 0;
        }
    
        100%{
            padding-left: 120px;
            filter: drop-shadow(0 5px 4px rgb(116, 116, 13));
           
            
        }
    }

    .boton-empezar{
        margin-left: 20px;
    }

    /*personas*/
    .cont-cartas{
        width: auto;
        height: auto;
        flex-direction: column;

    }

    #contenido-iconos{
        flex-direction: column;
    }
}